{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}
<h1>Test Page</h1>
<p>We are testing some jquery stuff</p>


{{#section 'jquery'}}
    <script>
        $(function(){
            $('h1').html('jquery worked');
        })
    </script>
{{/section}}