<form action="/contest/vacation-photo/{{year}}/{{month}}" enctype="multipart/form-data" method="post">
    <input type="file" id="filename" name="file">
    <input type="submit" value="上传文件" name="submit">
</form>